<!doctype html>
<html>
<head>
  <title>{{.Metadata.Title}}</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <ul>
        <li><a href="" title="">About</a></li>
        <li><a href="/" title="">Blog</a></li>
      </ul>
    </nav>

    <div class="logo">ROCKET</div>
  </header>

  <article class="article container">
    <h1>{{.Metadata.Title}}</h1>

    {{.Content}}
  </article>
</body>
</html>
