<!doctype html>
<html>
<head>
  <title>{{.Metadata.Title}}</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Esteban' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="header container">
    <div class="logo">
    Andriel Nuernberg
    </div>

    <nav class="nav">
      <ul>
        <li><a href="" title=""></a></li>
      </ul>
    </nav>
  </header>

  <div class="hero" style="background-image: url('/public/images/posts/go-face.png')"></div>

  <article class="container">
    <h1>{{.Metadata.Title}}</h1>

    {{.Content}}
  </article>
</body>
</html>
