<!doctype html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <ul>
        <li><a href="" title="">About</a></li>
        <li><a href="/" title="">Blog</a></li>
      </ul>
    </nav>

    <div class="logo">ROCKET</div>
  </header>

  <ul class="articles-list">
    {{range $slug, $article := .}}
    <li class="articles-list-item">
      <a class="articles-list-item-link" href="/articles/{{$article.Metadata.Slug}}">{{$article.Metadata.Title}}</a>
      <time class="articles-list-item-time" datetime="2011-01-12">{{$article.Metadata.Date}}</time>
    </li>
    {{end}}
  </ul>
</body>
</html>
