.header {
  border-top: 5px solid #0194BE;
  position: relative;
}

.nav ul {
  margin: 0;
  padding: 0;
  height: 100px;
  list-style: none;
}

.nav ul li {
  float: left;
}

.nav ul li a {
  display: block;
  padding: 6px 15px;
  margin: 0 5px;
  // font-size: 16px;
  background-color: #0194BE;
  color: #FFF;
}

.nav {
  position: absolute;
  right: 10%;
}

.logo {
  text-align: center;
  color: #FFF;
  font-family: "Lucida Grande";
  font-size: 40px;
  width: 200px;
  line-height: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: $logo-color;
  margin: 70px auto;
}
